<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="driver.itgds.khadametdz">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.ShiftDriverActivity"></activity>
        <activity android:name=".view.activity.BoardingActivity" />
        <activity android:name=".view.activity.TripDetailsActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBUDv7W8-7Zyf85AlHfKKDejvgA7jp42i8" />

        <activity android:name=".view.activity.NotificationActivity" />
        <activity android:name=".view.activity.EditProfileActivity" />
        <activity android:name=".view.activity.SettingsActivity" />
        <activity android:name=".view.activity.TermsActivity" />
        <activity android:name=".view.activity.HistoryActivity" />
        <activity android:name=".view.activity.ProfileActivity" />
        <activity
            android:name=".view.activity.VerificationActivity"
            android:theme="@style/FulScreenNoActionBar" />
        <activity
            android:name=".view.activity.ForgetPasswordActivity"
            android:theme="@style/FulScreenNoActionBar" />
        <activity
            android:name=".view.activity.WelcomeActivity"
            android:theme="@style/FulScreenNoActionBar" />
        <activity
            android:name=".view.activity.SignUpActivity"
            android:theme="@style/FulScreenNoActionBar" />
        <activity
            android:name=".view.activity.SignInActivity"
            android:theme="@style/FulScreenNoActionBar" />
        <activity
            android:name=".view.activity.SplashActivity"
            android:theme="@style/FulScreenNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.ScanningBareCodeActivity"
            android:theme="@style/AppTheme.No" />
    </application>

</manifest>